<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <title>Archon Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet">
    <!-- Loading Stylesheets -->
    <link th:href="@{css/archon.css}" rel="stylesheet">
    <link th:href="@{css/tasks.css}" rel="stylesheet">
    <link th:href="@{css/responsive.css}" rel="stylesheet">
    <link th:href="@{css/prettify.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-editable.css}" rel="stylesheet">
    <!-- Loading Stylesheets -->


    <!-- Loading Custom Stylesheets -->
    <link th:href="@{css/custom.css}" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{images/favicon.ico}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->