<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar">
    <div class="wrapper">
        <!-- Replace the src of the image with your logo -->
        <a href="index.html" class="logo"><img th:src="@{images/logo.png}" alt="Archon Admin" /></a>
        <ul class="nav  nav-list">

            <!-- sidebar input search box -->
            <li class="nav-search">
                <div class="form-group">
                    <input type="text" class="form-control nav-search" placeholder="Search through site" />
                    <span class="input-icon fui-search"></span>
                </div>
            </li>

            <!-- Sidebar header @add class nav-header for sidebar header -->
            <li class="nav-header">Overview</li>
            <li  class="active"><a href="index.html"><i class="icon-dashboard"></i>Dashboard </a></li>
            <li>
                <a class="dropdown" href="#"><i class="icon-tint"></i> UI Features <span class="label">2</span></a>
                <ul>
                    <li><a href="buttons.html"><i class="icon-bullhorn"></i> Buttons &amp; Notifications</a></li>
                    <li><a href="slidersnprogress.html"><i class="icon-minus"></i>Sliders &amp; Progress </a></li>
                </ul>
            </li>
            <li><a href="widgets.html"><i class="icon-group"></i>Widgets</a></li>

            <!-- Sidebar header @add class nav-header for sidebar header -->
            <li class="nav-header">Pages</li>
            <li><a href="calendar.html"><i class="icon-calendar"></i>Calendar</a></li>
            <li><a href="gallery.html"><i class="icon-picture"></i>Gallery</a></li>
            <li><a href="login.html"><i class="icon-signin"></i>Login</a></li>
            <li> <!-- Example for second level menu -->
                <a class="dropdown" href="#"><i class="icon-user"></i> Profile <span class="label">2</span></a>
                <ul>
                    <li><a href="profile.html"><i class="icon-usre"></i> Model One</a></li>
                    <li><a href="profileTwo.html"><i class="icon-usre"></i> Model Two</a></li>
                </ul>
            </li>
            <li> <!-- Example for second level menu -->
                <a class="dropdown" href="#"><i class="icon-folder-close-alt"></i> Dropdown menu <span class="label">3</span></a>
                <ul>
                    <li><a href="#"><i class="icon-hdd"></i> Submenu item</a></li>
                    <li><a href="#"><i class="icon-coffee"></i>Submenu item</a></li>
                    <li><a href="#"><i class="icon-crop"></i> Submenu item</a></li>
                </ul>
            </li>

            <!-- Sidebar header @add class nav-header for sidebar header -->
            <li class="nav-header">Components</li>
            <li><a href="toTravelListPage"><i class="icon-table"></i>测试页面2</a></li>
            <li><a href="test"><i class="icon-table"></i>测试页面(前端分页)</a></li>
            <li><a href="toMenuConfigPage"><i class="icon-table"></i>菜单配置</a></li>
            <li><a href="tables.html"><i class="icon-table"></i>Tables</a></li>
            <li> <!-- Example for second level menu -->
                <a class="dropdown" href="#"><i class="icon-folder-close-alt"></i> Charts <span class="label">3</span></a>
                <ul>
                    <li><a href="nvd.html"><i class="icon-hdd"></i> NVD</a></li>
                    <li><a href="flot.html"><i class="icon-coffee"></i>Flot</a></li>
                    <li><a href="knobs.html"><i class="icon-coffee"></i>Knobs</a></li>
                </ul>
            </li>
            <li><a href="typography.html"><i class="icon-text-width"></i>Typography</a></li>
            <li>
                <a class="dropdown" href="forms.html"><i class="icon-list-alt"></i>Forms  <span class="label">4</span></a>
                <ul>
                    <li><a href="form-elements.html"><i class="icon-indent-right"></i> Form Elements</a></li>
                    <li><a href="forms.html"><i class="icon-indent-left"></i>Forms</a></li>
                    <li><a href="form-wizard.html"><i class="icon-coffee"></i>Form wizard</a></li>
                    <li><a href="file-uploads.html"><i class="icon-indent-right"></i> File Upload</a></li>
                </ul>
            </li>
            <li><a href="icons.html"><i class="icon-truck"></i>Icons</a></li>
        </ul>

    </div><!-- /Wrapper -->
</div>